@model TaxServiceClient.Models.RateResult

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @if(Model != null)
    {
        <p>Worked</p>
    }
    else
    {
        <p>No data available</p>
    }
</div>
